.socials {
	display: flex;
	justify-content: space-around;
	padding-top: 40px;
	padding-bottom: 10px;
	height: 5em;
	transition: 0.15s all ease;
	background-color: var(--tertiaryColor);
}
.socials:hover {
	padding-top: 50px;
	padding-bottom: 35px;
}
.socials p {
	margin: 0;
	opacity: 0;
	transition: 0.3s all ease;
}
.socials:hover p {
	opacity: 1;
}
.socials a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: var(--primaryColor);
}
.socials img {
	height: 3rem;
	margin-bottom: 1rem;
	border-radius: 15%;
}
.socials div {
	transition: all 0.3s ease-out;
	text-decoration: underline;
	text-decoration-color: transparent;
}
.socials div:hover {
	text-decoration-color: white;
}

.contactForm {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 20px;
	cursor: default;
}
.contactFormContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto auto;
	row-gap: 20px;
	column-gap: 30px;
	padding: 10px;
	padding-top: 50px;
}
.contactFormContainer input[type="text"],
.contactFormContainer input[type="tel"],
.contactFormContainer input[type="email"],
.contactFormContainer textarea,
.contactFormContainer select {
	padding: 0.5em 2em 0.5em 1em;
	color: white;
	background-color: var(--secondaryColor2);
	border: 2px solid transparent;
	transition: all 0.2s;
}
.contactFormContainer select {
	cursor: pointer;
}
.contactFormContainer textarea {
	resize: none;
	overflow-y: scroll;
	height: 20px;
}
::placeholder {
	color: lightgray;
}
.contactFormContainer input[type="text"]:focus,
.contactFormContainer input[type="tel"]:focus,
.contactFormContainer input[type="email"]:focus,
.contactFormContainer textarea:focus,
.contactFormContainer select:focus {
	outline: none;
	border-color: white;
}

.contactFormContainer input[type="text"]:hover,
.contactFormContainer input[type="tel"]:hover,
.contactFormContainer input[type="email"]:hover,
.contactFormContainer textarea:hover,
.contactFormContainer select:hover {
	background-color: var(--secondaryColorHover2);
}
#type {
	grid-column: span 2;
	justify-self: center;
	width: 50%;
}
#message {
	grid-column: span 2;
	height: 100px;
	overflow: hidden;
}
#submit {
	grid-column: span 2;
	padding: 1em 2em 1em 2em;
	justify-self: center;
	cursor: pointer;
	border: none;
	background-color: rgb(95, 95, 95);
	color: white;
	font-weight: bold;
	transition: all 0.2s;
	border-radius: 30px;
}
#submit:hover {
	background-color: rgb(78, 78, 78);
}
#submit:disabled {
	color: rgb(218, 218, 218);
	background-color: rgb(109, 109, 109);
	cursor: not-allowed;
}
