:root {
	font-family: inter;
	--backgroundColor: #1b1b1d;
	--primaryColor: white;
	--secondaryColor: #2b2b30;
	--secondaryColor2: rgb(69, 69, 77);
	--secondaryColorHover2: rgb(50, 50, 56);
	--tertiaryColor: darkcyan;
	--navHeight: 4rem;
}
@font-face {
	font-family: inter;
	src: url(../data/inter.ttf);
}

body {
	background-color: var(--backgroundColor);
	color: var(--primaryColor);
}

h1 {
	font-size: 3rem;
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background: #dadada;
	border-radius: 15px;
	border: 2px solid rgb(31, 31, 31);
	cursor: none;
}
::-webkit-scrollbar-thumb:hover {
	background: #bbbbbb;
}
::-webkit-scrollbar-track {
	background: rgb(31, 31, 31);
}

header {
	margin-top: var(--navHeight);
}

nav {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: var(--navHeight);
	border-radius: 0px 0px 15px 15px;
	background-color: var(--secondaryColor);
	-webkit-box-shadow: 0px 5px 19px 0px #2b2b30;
	box-shadow: 0px 2px 10px 0px #2b2b30;
}
nav a {
	text-decoration: underline;
	text-decoration-color: transparent;
	color: var(--primaryColor);
	transition: all 0.5s ease-out;
}
nav a:hover {
	text-decoration-color: var(--primaryColor);
}
nav img {
	height: 3rem;
	border-radius: 20%;
	background-color: white;
}

.warning {
	font-style: italic;
	color: red;
}
