header {
	height: calc(100vh - var(--navHeight));
}

.headerContent {
	display: flex;
	cursor: default;
	height: 100%;
	color: var(--primaryColor);
	justify-content: space-between;
	align-items: center;
	margin-left: 40px;
	margin-right: 40px;
	font-size: 3em;
}
.headerContent h1 {
	font-size: 3em;
}
.divider {
	height: 100%;
	width: 0.5vw;
	background-color: var(--secondaryColor);
}
.playDot {
	position: absolute;
	transform: translate(-91.5%, -55.2%);
	font-size: 1.1em;
	transition: all 0.5s;
	z-index: 1;
}
.playDot:hover {
	color: blue;
	cursor: help;
}

#firstName {
	@supports (background-clip: text) or (-webkit-background-clip: text) {
		background-image: url(../media/nameBG.svg);
		/* background-size: 100% auto; */
		background-position: center;
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
	}
}

#lastName {
	@supports (background-clip: text) or (-webkit-background-clip: text) {
		background-image: url(../media/nameBG.svg);
		/* background-size: 100% auto; */
		background-position: center;
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
	}
}

#picofme {
	height: 700px;
	margin-right: 10px;
}

@media screen and (max-width: 1620px) {
	.headerContent h1 {
		font-size: 2.5em;
	}
	#picofme {
		height: 500px;
	}
}
@media screen and (max-width: 1260px) {
	.headerContent h1 {
		font-size: 2em;
	}
	#picofme {
		height: 300px;
	}
}
