header > h1 {
	text-align: center;
	padding-top: 2rem;
}
.container {
	display: flex;
	padding: 30px;
	justify-content: center;
	flex-wrap: wrap;
}

a {
	text-decoration: none;
}

.project {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-content: center;
	text-align: center;
	color: white;
	flex-wrap: wrap;
	width: 320px;
	height: 320px;
	margin: 20px;
	border-radius: 15px;
	background-color: rgb(73, 73, 73);
	transition: all 0.5s;
	transform: none;
	-webkit-transform: translateZ(0);
	/* box-shadow: 0 4px 8px 0 rgba(83, 83, 83, 0.2); */
}
.description {
	transition: all 0.5s;
	transform: none;
	-webkit-transform: translateZ(0);
	overflow-y: scroll;
	height: 0;
}
.project:hover {
	height: 500px;
	border-radius: 15px 15px 0 0;
}
.project:hover .description {
	height: 180px;
	background-color: rgb(63, 63, 63);
	padding-bottom: 10px;
}
.imageContainer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.imageContainer {
	width: 300px;
	height: 200px;
	margin: 0 10px 0 10px;
	overflow: hidden;
}

#returnButton {
	position: absolute;
	top: 10px;
	left: 10px;
	color: white;
	cursor: pointer;
	padding: 20px;
	background-color: gray;
	transition: all 0.2s;
	border-radius: 15px;
}
#returnButton:hover {
	background-color: rgb(114, 114, 114);
}

.linkButton {
	padding: 5px;
	background-color: green;
	color: var(--secondaryColor);
	border-radius: 5px;
	cursor: alias;
}

.linkButton:hover {
	text-decoration: underline;
}
