@font-face {
	font-family: inter;
	src: url(../data/inter.ttf);
}
* {
	font-family: inter;
	padding: 0;
	margin: 0;
}
.constructionDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	cursor: default;
	overflow: hidden;
}
.constructionDiv > span {
	font-size: xx-large;
	transition: all 10s cubic-bezier(1, 1, 0.75, 1.3);
}
.constructionDiv > span:hover {
	font-size: 5000px;
}
